<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/home.css">

<body>
    <div class="group_name">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/resto"><img src="/images/arrow-r.svg" alt=""> Home</a>
        
        </li>

        <% if(!member) { %>
            <li class="nav-item">
                <a class="nav-link" href="/resto/sign-up"><img src="/images/arrow-r.svg" alt=""> Signup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resto/login"><img src="/images/arrow-r.svg"  alt=""> Login</a>
            </li>
        <% } else if (member.mb_type === 'ADMIN') { %>
            <li class="nav-item" style="cursor: pointer">
                <a class="nav-link" href="/resto/all-restaurant"><img src="/images/arrow-r.svg"  alt=""> AllResto</a>
            </li>
            <li class="nav-item" style="cursor: pointer"
                 onclick="return confirm('Do you want to logout?')">
                <a class="nav-link" href="/resto/logout"><img src="/images/arrow-r.svg" alt=""> Logout</a>
            </li>
        <% } else { %>
            <li class="nav-item" style="cursor: pointer">
                <a class="nav-link" href="/resto/products/menu"><img src="/images/arrow-r.svg" style=" margin-right: 12px;" alt="">MyShop</a>
            </li>
            <li class="nav-item" style="cursor: pointer"
                 onclick="return confirm('Do you want to logout?')">
                <a class="nav-link" href="/resto/logout"><img src="/images/arrow-r.svg" style=" margin-right: 12px;" alt="">Logout</a>
            </li>
        <% } %>

      </ul>
    </div>

    <header>
        <nav>
            <a href="#" class="brand">
                <span>CAF</span>
                ENA
            </a>
            <div class="toggle">
                <i class="far fa-moon"></i>
            </div>
        </nav>
        <div class="header-body">
            <div>
                <h1>
                    <span class="toggle-text">
                        Welcome to
                    </span> <br />
                    Cafena
                </h1>
            </div>
            <div class="main-img">
                <img src="/images/cup-dark.png" alt="Cafena">
            </div>
            <div class="text">
                <div class="text-left"></div>
                    <div>
                        <h3><span class="toggle-text">
                            Cafena</span> Lyfestyle Lovers.
                        </h3>
                        <p>
                            Experience what it feels like
                            drink your favourite beverage
                            out of our premium mug that was
                            design with you in mind 
                        </p>
                    </div>
                </div>
                <div class="right">
                    <div class="text-right">
                        <div>
                            <h3>The design</h3>
                            <p>
                                Learn more what makes our
                                coffeshop Cafena uniqui and 
                                differnt. Let's watch 
                                the video!
                            </p>
                        </div>
                    </div>
                    <div class="play-btn">
                        <div></div>
                    </div> 
                </div>
            </div>
            <div class="links">
                <a href="#" class="main-link">
                    <span>Explore Now</span>
                </a>
            </div>
        </div> 
        <h1 class="background-text">
            <span class="toggle-text">
                Welcome to
            </span> <br />
                Cafena
        </h1> 
    </header>     

    <script>
    //     function fitElementToParent(el, padding) {
    // let timeout = null;
    // function resize() {
    //     if (timeout) clearTimeout(timeout);
    //     anime.set(el, {scale: 1});
    //     let pad = padding || 0;
    //     let parentEl = el.parentNode;
    //     let elOffsetWidth = el.offsetWidth - pad;
    //     let parentOffsetWidth = parentEl.offsetWidth;
    //     let ratio = parentOffsetWidth / elOffsetWidth;
    //     timeout = setTimeout(anime.set(el, {scale: ratio}), 10);
    // }
    // resize();
    // window.addEventListener('resize', resize);
    // }

    // let sphereAnimation = (function() {

    // let sphereEl = document.querySelector('.sphere-animation');
    // let spherePathEls = sphereEl.querySelectorAll('.sphere path');
    // let pathLength = spherePathEls.length;
    // let hasStarted = false;
    // let aimations = [];

    // fitElementToParent(sphereEl);

    // let breathAnimation = anime({
    //     begin: function() {
    //     for (let i = 0; i < pathLength; i++) {
    //         aimations.push(anime({
    //         targets: spherePathEls[i],
    //         stroke: {value: ['rgba(255,75,75,1)', 'rgba(80,80,80,.35)'], duration: 500},
    //         translateX: [2, -4],
    //         translateY: [2, -4],
    //         easing: 'easeOutQuad',
    //         autoplay: false
    //         }));
    //     }
    //     },
    //     update: function(ins) {
    //     aimations.forEach(function(animation, i) {
    //         let percent = (1 - Math.sin((i * .35) + (.0022 * ins.currentTime))) / 2;
    //         animation.seek(animation.duration * percent);
    //     });
    //     },
    //     duration: Infinity,
    //     autoplay: false
    // });

    // let introAnimation = anime.timeline({
    //     autoplay: false
    // })
    // .add({
    //     targets: spherePathEls,
    //     strokeDashoffset: {
    //     value: [anime.setDashoffset, 0],
    //     duration: 3900,
    //     easing: 'easeInOutCirc',
    //     delay: anime.stagger(190, {direction: 'reverse'})
    //     },
    //     duration: 2000,
    //     delay: anime.stagger(60, {direction: 'reverse'}),
    //     easing: 'linear'
    // }, 0);

    // let shadowAnimation = anime({
    //     targets: '#sphereGradient',
    //     x1: '25%',
    //     x2: '25%',
    //     y1: '0%',
    //     y2: '75%',
    //     duration: 30000,
    //     easing: 'easeOutQuint',
    //     autoplay: false
    //     }, 0);

    // function init() {
    //     introAnimation.play();
    //     breathAnimation.play();
    //     shadowAnimation.play();
    // }
    
    // init();

    // })();
    </script>
</body>

<%- include('includes/footer') %>